* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#table {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 350px;
    height: 350px;
}

.square {
    display: block;
    width: 100%;
    height: 100%;
}

.pair {
    background-color: aqua;
}
.odd {
    background-color: black;
}